.slide{
    background-color: lightcyan;
    margin-top: 3em;
    height: 35em;

}

.postcode {
    background-size: cover;
    background-image: url('./assets/maps-blur.png')
}

.postcode label{
    font-size: 1.5em;
    margin-right: 1em;
}
.postcode-container{
    padding-top: 30%;
    padding: 28%;
}