@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

$font: "Maven Pro", "Helvetica", "Arial", sans-serif;
$accent-green: #7cac50;
$accent-blue: #3d6570;
$grey: #617286;
$text-color: #fff;
$light-text-color: #fff;

.wrap {
  display: block;
  position: relative;
  height: 750px;

  .wrap-bg,
  .wrap-content  {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    img {
        max-height: 750px;
        width: 100%;
    }
  }
  .wrap-content {
    color: white;
    z-index: 10;
    padding: 15% 100px;
    text-align: center;

    span, label, input {
      color: $light-text-color;
    }

  }

  .wrap-three {
    button {
      border-radius: 8px;
      background: rgba(219, 225, 232, 0.2);
      max-width: 250px;
      margin: 0 40px;
      padding: 20px;

      &:hover {
        background: rgba(122, 132, 142, 0.5);
      }

      img {
        display: block;
        width: 100%;
      }

      .button-text {
        display: block;
        width: 100%;
        text-transform: lowercase;
        font-family: $font;
      }
    }
  }
}

.wrap-text {
  color: $text-color;
}

.postcode-wrap {
  background: rgba(219, 225, 232, 0.2);
}
