$accent-green: #7cac50;
$accent-blue: #3d6570;
$grey: #617286;
$text-color: #fff;
$light-text-color: #fff;


.card {
  margin: 20px;
  max-width: 800px;
}

.card-content {
  max-width: 300px;
}

.im-in {
  width: 110px;
  border: 1px solid $accent-green;
  border-radius: 8px;

  display: inline-block;
  background-color: $accent-green;
  color: $light-text-color;
}

.im-in-text {
  width: 50px;
  display: inline-block;
  margin: 0;
}

.checkbox {
  display: inline-block;
}
