$accent-green: #7cac50;
$accent-blue: #3d6570;
$grey: #617286;
$text-color: #fff;
$light-text-color: #fff;


.card {
  margin: 20px auto;
  max-width: 10000px;
}

.card-content {
  max-width: 350px;

  &.card-img {
    padding: 0;
    
  }

  &.card-text{
    margin: 0.5rem 1rem;
  }

  &.card-action {
    margin: 1.5rem 0.5rem 1.5rem 1.5rem;
  }

  .card-details {
    color: $grey;
  }
}

.im-in {
  width: 110px;
  border: 1px solid $accent-blue;
  border-radius: 8px;

  display: inline-block;
  background-color: $accent-blue;
  color: $light-text-color;

  &.checked {
    background-color: $accent-green;
    border: 1px solid $accent-green;
  }
}

.im-in-text {
  width: 50px;
  display: inline-block;
  margin: 0;
}

.checkbox {
  display: inline-block;
}
