@import './events.min.css';
@import './carousel.min.css';
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

$font: "Maven Pro", "Helvetica", "Arial", sans-serif;
$accent-green: #7cac50;
$accent-blue: #3d6570;
$grey: #617286;
$body-grey: #dbe1e8;
$light-text-color: #fff;

.body, p {
  font-family: $font;
  font-size: 0.875rem;
}

body {
  background-color: $body-grey;
  font-family: $font;
}

h1, h2, h3 {
  font-family: $font;
  color: $accent-blue;
}

.header {
  background-color: $light-text-color;

  .header-content {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    display: flex;
    justify-content: space-between;

    button {
      color: $grey;
      text-transform: lowercase;
    }

    a {
      color: $grey;
      text-decoration: none;
    }
  }
}

.footer {
  background-color: $accent-green;
  color: white;
  h3 {
    color: white;
  }
}

.white {
  color: $light-text-color;
}

.intro {
  text-align: center;
  margin: 0 auto;

  button {
    margin: 40px 0;
    font-family: $font;
  }
}
