@import './events.min.css';
@import './carousel.min.css';

$font: "Roboto", "Helvetica", "Arial", sans-serif;
$accent-green: #7cac50;
$accent-blue: #3d6570;
$grey: #617286;
$light-text-color: #fff;

.body, p {
  font-family: $font;
  font-size: 0.875rem;
}

h1, h2, h3 {
  font-family: $font;
  color: $accent-blue;
}

.header {
  background-color: $accent-green;

  .header-content {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;

    a {
      color: $light-text-color;
      text-decoration: none;
    }
  }
}

.footer {
  background-color: $accent-green;
  color: white;
  h3 {
    color: white;
  }
}
